#lbl {
    font-family: monospace;
    font-size: xx-large;
    color: #626262;
    padding: 5px;
    border: 1px solid #ececec;
    text-align: center;
    line-height: 1.5;
    height:85%


}
#date{
    font-size:large;
}
body{
    background-color: aliceblue;
}